<div class="demo-card-wide mdl-card mdl-shadow--2dp" mdl>
  <div class="mdl-card__supporting-text">
  <form action="#" >
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <!-- TODO-2: Datenbindung an Angular (https://angular.io/docs/ts/latest/guide/forms.html) -->
      <label class="mdl-textfield__label">Name</label>
      <input class="mdl-textfield__input" type="text">
    </div>
  </form>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <!-- TODO-2: Auf das Klick event reagieren und Liste erstellen -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Liste anlegen
    </button>
  </div>
</div>
